@media screen and (min-width: 768px) {
    .main-benefits-container .main-benefits-list-container{
     width: 100% ;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 1rem;
    }
   
    .main-benefits-list-container .main-benefits-list-item{
     width: 20%;
    }
     


    /* SECTION DE PPLANES */

    .main-plans-container .main-plans-list-container{
        display: flex;
        justify-content: center;
    }
   }